@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Griffy&display=swap');
* {
    margin:0;
    padding:0;
}

body {
    background: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%);
}

header {
    color:rgb(141, 233, 98);
    font-family: Caveat, sans-serif;
    display:flex;
    justify-content:center;
    padding: 15px;
    font-size:2.5rem;
    text-shadow:
    5px 1px 0 #000000,
  -3px -3px 0 #030303,  
   2px -1px 0 #070606,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

#add-book {
    border-radius: 15px;
    color:rgb(141, 233, 98);
    background:black;
    cursor:pointer;
    position: fixed;
    bottom: 5%;
    right: 10%;
    outline:none;
    width:60px;
    height:60px;
    font-size:1.9rem;
}